.slick-next:before{
    margin-right: 50px;
    font-size: 50px;
    line-height: 0;
    opacity: .75;
    color: #000;
    position: absolute;
    top: 0;
    left: 30px;
    /* background-color: white; */
}

.slick-prev:before {
    font-size: 50px;
    line-height: 0;
    opacity: .75;
    color: #000;
    position: absolute;
    top: 0;
    right: 10px;
}