body {
    padding: 0;
    margin: 0;
    background: #f6f4f5;
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  .signIn-container {
    margin: 0px 0px 22px;
    padding: 14px 18px;
  }
  .head-logo {
    margin: auto;
    text-align: center;
    margin-bottom: 18px;
  }
  #logo-img {
    cursor: pointer;
  }
  /* sign in sectin startint form here */
  .sign-form-section {
    width: 700px;
    height: 520px;
    margin: auto;
    margin-top: 10px;
  }
  .sign-in-form {
    width: 298px;
    height: 479px;
    padding: 20px 26px;
    margin: auto;
  }
  #hSignName {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin: 0px 0px 10px;
    padding: 0px 0px 4px;
  }
  .label-style {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
  }
  .input-email {
    margin-bottom: 15px;
  }
  
  #Email {
    width: 95%;
    height: 22px;
    padding: 3px 7px;
    background-color: white;
    border: 0.8px solid rgb(160, 160, 160);
  }
  #Password {
    width: 95%;
    height: 22px;
    padding: 3px 7px;
    background-color: white;
    border: 0.8px solid rgb(160, 160, 160);
  }
  input:focus {
    outline: 1px solid rgb(255, 147, 108);
    /* border: 1px; */
  }
  .labfog {
    display: flex;
    justify-content: space-between;
  }
  .linkfontstyle {
    color: #ee4a1b;
    cursor: pointer;
  }
  .linkfontstyle:hover {
    text-decoration: underline;
  }
  #signBtn {
    width: 100%;
    height: 32px;
    background-color: #ee4a1b;
    padding: 5px 6px;
    color: white;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin-top: 22px;
  }
  #details-link {
    color: #ee4a1b;
    cursor: pointer;
  }
  #details-link:hover {
    text-decoration: underline;
  }
  
  #Details {
    border: 0px;
    outline: 0px;
    margin-right: 5px;
    margin-left: -5px;
    color: gray;
    background-color: transparent;
    cursor: pointer;
  }
  .keepSignIn {
    margin-top: 10px;
  }
  .moreSignOp {
    text-align: center;
    margin-top: 10px;
  }
  
  .moreS-newSo {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #f6f4f5;
    padding: 0 8px 0 7px;
    margin-bottom: 16px;
  }
  .amazonLogOp {
    cursor: pointer;
  }
  .newto-acc {
    text-align: center;
  }
  #createAccBtn {
    background-color: black;
    padding: 0px 10px 0px 11px;
    color: white;
    width: 95%;
    height: 30px;
    border: 0px;
    cursor: pointer;
  }
  .line {
    border: 0px;
    border-bottom: 1px solid rgb(223, 223, 223);
    margin-top: -10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    width: 82%;
  }
  .contactUs {
    text-align: center;
    margin-top: 18px;
    padding-bottom: 10px;
    font-size: 11px;
  }
  
  .copyR-terms {
    text-align: center;
    font-size: 11px;
    color: rgb(56, 56, 56);
  }
  .errInputEmail,
  .errInputPass {
    color: #c40000;
    font-size: 12px;
  }
  .errInputEmail {
    display: none;
  }
  .errInputPass {
    display: none;
  }
  