body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "GT-America-Standard", "Helvetica Neue", Helvetica, sans-serif;
    text-align: left;
    color: black;
    line-height: 26px;
    font-size: 14px;
  }
  .pageHeading-span {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    height: 30px;
    padding-left: 6px;
    border: 0px;
    border-bottom: 1px solid rgba(214, 214, 214, 0.904);
    padding-top: 10px;
  }
  .page-container {
      display: flex;
    position: relative;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
  }
  .left-nav-list {
    position: relative;
    float: left;
    width: 130px;
    line-height: 1.7em;
    padding-left: 2px;
    padding-top: 6px;
    padding-right: 12px;
  }
  
  .ul-left-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 12px;
  }
  .nav-list1 {
    font-weight: 700;
    text-decoration: underline;
  }
  .sameLiDesign {
    padding-bottom: 6px;
  }
  .sameLiDesign:hover {
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
  }
  .mainProdDataApeend {
    display: inline-block;
    width: 875px;
    border-left: none;
    float: none;
    padding: 0;
  }
  .headingimg {
    padding: 6px 6px 0 6px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .itemsViewCount {
    margin-top: 5px;
    display: inline-flex;
    color: rgb(49, 49, 49);
    font-size: 12px;
  }
  .countItems {
    border: 0px;
    display: inline-block;
    padding: 2px 14px 2px 10px;
    border-right: 1px solid black;
  }
  .viewText {
    border: 0px;
    padding: 2px 2px 2px 18px;
  }
  #view20items {
    border: 0px;
    background-color: transparent;
    padding-left: 15px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
    font-weight: 700;
  }
  #view45items {
    border: 0px;
    background-color: transparent;
    padding-left: 15px;
    cursor: pointer;
    font-weight: 500;
  }
  
  #view20items:hover,
  #view45items:hover {
    font-weight: 700;
    text-decoration: underline;
  }
  .productItemsMain-div {
    width: 100%;
    margin-top: 10px;
   
  }

  .whatnew{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 10px;
    text-align: center;

  }
  .whatnew >div{
    margin-top: 10px; 
  }

  .products-ul {
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: repeat(4, 25%);
    list-style: none;
    padding: 0px;
  }
  .products-li {
    border-bottom: 0;
    padding: 0px 0.5em 0px 0.5em;
    white-space: nowrap;
    /* overflow: hidden; */
    text-align: center;
    vertical-align: top;
    margin: 0 0 1.5em 0;
    font-size: 12px;
    cursor: pointer;
  }
  .product-img {
    height: 365px;
  }
  .prodInfoDiv {
    padding: 10px 0px 0px;
  }
  .prodtiteletxt {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
  }
  .prodpricetxt {
    font-weight: 700;
    font-size: 12px;
  }
  