body {
    padding: 0;
    margin: 0;
    background: #f6f4f5;
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  .register-container {
    margin: 0px 0px 22px;
    padding: 14px 18px;
  }
  .head-logo {
    margin: auto;
    text-align: center;
    margin-bottom: 18px;
  }
  #logo-img {
    cursor: pointer;
  }
  /* sign in sectin startint form here */
  .register-form-section {
    width: 700px;
    height: 615px;
    margin: auto;
    margin-top: 10px;
    margin-top: 10px;
  }
  .register-in-form {
    width: 310px;
    height: 587px;
    padding: 14px 18px;
    margin: auto;
  }
  #hRegisterName {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin: 0px 0px 10px;
    padding: 0px 0px 4px;
  }
  .label-style {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
  }
  .input-UserName {
    margin-bottom: 15px;
  }
  
  #UserName {
    width: 95%;
    height: 22px;
    padding: 3px 7px;
    background-color: white;
    border: 0.8px solid rgb(160, 160, 160);
  }
  
  #Email {
    width: 95%;
    height: 22px;
    padding: 3px 7px;
    background-color: white;
    border: 0.8px solid rgb(160, 160, 160);
  }
  #Password {
    width: 95%;
    height: 22px;
    padding: 3px 7px;
    background-color: white;
    border: 0.8px solid rgb(160, 160, 160);
    margin-bottom: 4px;
  }
  .passDiv {
    margin-top: 10px;
  }
  #rePass {
    width: 95%;
    height: 22px;
    padding: 3px 7px;
    background-color: white;
    border: 0.8px solid rgb(160, 160, 160);
  }
  .passChar {
    font-size: 11.5px;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
  }
  
  input:focus {
    outline: 1px solid rgb(255, 147, 108);
    /* border: 1px; */
  }
  
  .linkfontstyle {
    color: #ee4a1b;
    cursor: pointer;
  }
  .linkfontstyle:hover {
    text-decoration: underline;
  }
  .re-input-pass {
    margin-top: -5px;
  }
  #regBtn {
    width: 100%;
    height: 32px;
    background-color: #ee4a1b;
    padding: 5px 6px;
    color: white;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin-top: 15px;
  }
  
  .term-condition {
    margin-top: 10px;
  }
  .termDiv {
    font-size: 12px;
  }
  .otherRegOp {
    text-align: center;
    margin-top: 10px;
  }
  
  .moreS-newSo {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #f6f4f5;
    padding: 0 8px 0 7px;
    margin-bottom: 16px;
  }
  .amazonLogOp {
    cursor: pointer;
  }
  
  .line {
    border: 0px;
    width: 85%;
    border-bottom: 1px solid rgb(223, 223, 223);
    margin-top: 19px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .contactUs {
    text-align: center;
    margin-top: 18px;
    padding-bottom: 10px;
    font-size: 11px;
  }
  .copyR-terms {
    text-align: center;
    font-size: 11px;
    color: rgb(56, 56, 56);
  }
  
  .alreadyAccunt {
    height: 44px;
    border: 0px;
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    border-top: 1px solid rgb(214, 214, 214);
  }
  
  /* js error part started here */
  
  .problemBox {
    border: 1px solid red;
    width: 350px;
    margin: auto;
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 50px 220px;
  }
  .problem-text {
    margin-top: -8px;
  }
  .err-text {
    font-size: 17px;
    font-weight: 200;
    color: #c40000;
  }
  .appendErr {
    margin-left: -20px;
    margin-top: -8px;
  }
  .errHide {
    display: none;
  }
  